## List Comprehension

In [1]:
l = [1, 2, 3, 4, 5, 6, 7]
# output = [1, 4, 9, 16, 25, 36, 49]

In [4]:
l1 = []
for x in l:
    l1.append(x * x)

print(l1)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
l2 = [x * x for x in l]
print(l2)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
l
# Create a list from the list[l] with the square of the even numbers
# Output should be: [4, 16, 36]

[1, 2, 3, 4, 5, 6, 7]

In [7]:
l3 = [x * x for x in l if x % 2 == 0]
print(l3)

[4, 16, 36]

In [8]:
fruits = ['apple', 'banana', 'guava']
result = [f.upper()  for f in fruits]
print(result)

['APPLE', 'BANANA', 'GUAVA']

In [10]:
t = ()
print(type(t))

<class 'tuple'>

In [12]:
t1= (1)
print(t1, type(t1))

1 <class 'int'>

In [13]:
t1= (1,)
print(t1, type(t1))

(1,) <class 'tuple'>

In [14]:
t = (1, 2, 0, "Python", 2.0)
print(t)

(1, 2, 0, 'Python', 2.0)

In [15]:
t.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
t.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [19]:
print(t)

(1, 2, 0, 'Python', 2.0)

In [20]:
print(t[0])
print(t[-1])
print(t[1:4])

1
2.0
(2, 0, 'Python')

In [28]:
t = (1, 2, (3, 4), 0, [5, 6, 7], 8)
print(t)

(1, 2, (3, 4), 0, [5, 6, 7], 8)

In [ ]:
#how to fetch the list[5, 6, 7] from above tuple

In [29]:
print(t[2])
print(t[4])

(3, 4)
[5, 6, 7]

In [31]:
# fetch the data 6 from the tuple
l = t[4]
print(l)
print(l[1])

[5, 6, 7]
6

In [32]:
t

(1, 2, (3, 4), 0, [5, 6, 7], 8)

In [33]:
print(t[4][1])

6

In [34]:
print(t[2][1])

4

In [35]:
t

(1, 2, (3, 4), 0, [5, 6, 7], 8)

In [44]:
list = [5, 6, 7]
t = (1, 2, (3, 4), 0, list, 8)
print(t, id(t))
list.append(10)

list.append(100)
print(t, id(t))

(1, 2, (3, 4), 0, [5, 6, 7], 8) 1204825806336
(1, 2, (3, 4), 0, [5, 6, 7, 10, 100], 8) 1204825806336

In [40]:
t = (1, 2, (3, 4), 0, [5, 6, 7], 8)
t = (1, 2, (3, 4), 0, [5, 6, 7], 8, 9)
print(t)

(1, 2, (3, 4), 0, [5, 6, 7], 8, 9)

In [43]:
a = (1,2,4,5)
print(a, id(a))

a = (1, 2, 3, 4, 5, 6, 7,)
print(a, id(a))

(1, 2, 4, 5) 1204829915712
(1, 2, 3, 4, 5, 6, 7) 1204829955904