# Mathematical Set Operation

- Union
- intersection
- difference
- symmectric difference

In [1]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
print(s1, s2)

{1, 2, 3, 4, 5} {4, 5, 6, 7}

In [5]:
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [6]:
print(s1 & s2)
print(s1.intersection(s2))

{4, 5}
{4, 5}

In [9]:
print(s1-s2)
print(s2 - s1)

{1, 2, 3}
{6, 7}

In [10]:
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{6, 7}

In [11]:
print(s1.symmetric_difference(s2))

{1, 2, 3, 6, 7}

In [ ]:
print(s1 ^ s2) #^ : caret

{1, 2, 3, 6, 7}

In [13]:
s1.symmetric_difference_update(s2)

In [14]:
s1

{1, 2, 3, 6, 7}

In [15]:
s1.difference_update(s2)
print(s1)

{1, 2, 3}

In [ ]:
s4 = {1, 2, 3, 4, {7, 8}}

TypeError: unhashable type: 'set'

In [17]:
#unpacking
s = {1 ,2, 3, 4}
print(s)
print(*s)

{1, 2, 3, 4}
1 2 3 4

In [ ]:
p = {"Alice", 20, "Pune"}

## Dictionary in Python

In [19]:
#Emty dictionary
d = {}
print(d, type(d))

{} <class 'dict'>

In [20]:
d = {
    "name": "Alice",
    "age": 29,
    "city": "Pune"
}

print(d)

{'name': 'Alice', 'age': 29, 'city': 'Pune'}

In [22]:
d = {"A" : 10, "A": 20, "B" : 25}
print(d)

{'A': 20, 'B': 25}

In [27]:
d = {None : "Test", 34: None, 20 : "10", None : 23}
print(d)

{None: 23, 34: None, 20: '10'}

### Fetching data from a dict

In [32]:
d = {
    "name": "Alice",
    "age": 29,
    "city": "Pune"
}

print(d)
print(d["name"])
print(d["age"])
print(d.get("name"))
print(d.get("city"))

{'name': 'Alice', 'age': 29, 'city': 'Pune'}
Alice
29
Alice
Pune

### Indserting data in dict

In [33]:
d

{'name': 'Alice', 'age': 29, 'city': 'Pune'}

In [34]:
d["mobile"] = 909923475
print(d)

{'name': 'Alice', 'age': 29, 'city': 'Pune', 'mobile': 909923475}

In [35]:
print(d.items())

dict_items([('name', 'Alice'), ('age', 29), ('city', 'Pune'), ('mobile', 909923475)])

In [40]:
print(d.keys())
for i in d.keys():
    print(i)

dict_keys(['name', 'age', 'city', 'mobile'])
name
age
city
mobile

In [37]:
print(d.values())

dict_values(['Alice', 29, 'Pune', 909923475])

### For loop in Dict

In [38]:
l = ['name', 'age', 'city', 'mobile']

for i in l:
    print(i)

name
age
city
mobile

In [ ]:
for k in d.keys(): 
    print(k, d.get(k))

name Alice
age 29
city Pune
mobile 909923475

In [41]:
for k in d.keys(): 
    print(k, d[k])

name Alice
age 29
city Pune
mobile 909923475

In [42]:
d.items()

dict_items([('name', 'Alice'), ('age', 29), ('city', 'Pune'), ('mobile', 909923475)])

In [ ]:
for k, v in d.items():
    print(k, v)

name Alice
age 29
city Pune
mobile 909923475