In [18]:
d1 = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3",
}

d2 = {
    "key6": "value6",
    "key5": "value5",
    "key4": "value4",
}

In [19]:
print(d1, d2)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'} {'key6': 'value6', 'key5': 'value5', 'key4': 'value4'}

In [20]:
k = sorted(d2) #return the keys in sorted
k

['key4', 'key5', 'key6']

In [21]:
d4 ={}

for i in k:
    d4[i] = d2.get(i)

d4

{'key4': 'value4', 'key5': 'value5', 'key6': 'value6'}

In [29]:
print(d1, d2)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'} {'key6': 'value6', 'key5': 'value5', 'key4': 'value4'}

In [30]:
# update() which is used to combine to dictionary

d1.update(d2)
d1

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key6': 'value6',
 'key5': 'value5',
 'key4': 'value4'}

### Nested-dictionary

In [31]:
employees = {
    "emp001": {
        "name": "Alice",
        "age": 20,
        "designation": "Manager"
    },
    "emp002": {
        "name": "Peter",
        "age": 24,
        "designation": "HR Manager"
    }
}

In [32]:
employees

{'emp001': {'name': 'Alice', 'age': 20, 'designation': 'Manager'},
 'emp002': {'name': 'Peter', 'age': 24, 'designation': 'HR Manager'}}

In [34]:
employees["emp002"]["age"]

24

In [35]:
employees.get("emp002").get("age")

24

In [37]:
d1 = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(d1, d2)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'} {'key6': 'value6', 'key5': 'value5', 'key4': 'value4'}

In [38]:
# combine two dictionary and store into a new dictionary
new_dict = {**d1, **d2}
new_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key6': 'value6',
 'key5': 'value5',
 'key4': 'value4'}

In [39]:
result = {*d1, *d2}
result

{'key1', 'key2', 'key3', 'key4', 'key5', 'key6'}

In [42]:
d = {"a": 10, "h": 20, "d":23}
ds = sorted(d.items(), reverse=False)
ds

[('a', 10), ('d', 23), ('h', 20)]

In [44]:
# create a dictionary from a list of items with a fixed value.
l = [12, 13, 14, 15, 2, 5]
d = dict.fromkeys(l)
d

{12: None, 13: None, 14: None, 15: None, 2: None, 5: None}

In [45]:
d = dict.fromkeys(l, "Python")
d

{12: 'Python',
 13: 'Python',
 14: 'Python',
 15: 'Python',
 2: 'Python',
 5: 'Python'}

## Functions in Python

In [ ]:
def abc():
    ''' 
        this is the are for doc-string
        this is a sample function
    '''
    pass  #stub

In [51]:
abc()

In [53]:
def my_func():
    print("hello")
    

my_func()

hello